.App {
  display: block;
  justify-content: center;
  padding: 0px 20px;
.panel{
  position: relative;
margin: 10px 0px;
  width: 100%;
  height: 50px;
  align-content: center;
  background-color: orange;
display: flex;
justify-content: space-around;
h1{
  position: relative;
  bottom: 20px;
}
}
.main{
width: 100%;
height: auto;
display: flex;
justify-content: space-around;

  .to-do{
    width: 500px;
    height: 600px;
    background-color: rgb(171, 220, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 30px 15px 15px 15px;
  .searchGroup{
    list-style: none;
    width: 300px;

    margin: 0px 10px;
display: flex;
height: 50px;

align-items: center;
gap: 10px;
            input{
        height: 40px;
        font-size: 20px;
        padding-left: 10px;
        border-radius: 15px;
        border: none;
      }
      .searchBtn{
        width: 100px;
        height: 40px;
        font-size: 20px;
        cursor: pointer;
        border-radius: 15px;
        background-color: orange;
        border: none;
      }
    
  }

.itemGroup{
  width: 100%;
  // overflow: hidden;
  .add,
  .regular{
    margin: 15px 5px 0px 5px;
    font-size: 20px;
    width: fit-content;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;

    background-color: palegoldenrod;
  }
.priority-items{
  position: absolute;
  top: 80px;
    
        overflow-y: scroll;
      width: 500px;
      height: 200px;
      background-color: yellowgreen;
      .urgent-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        height: 40px;
        border-radius: 15px;
        background-color: white;
        margin-top: 10px;
        button{
          width: 150px;
          height: 100%;
          border: none;
          background-color: orange;
          font-size: 18px;
          border-radius: 15px;
          cursor: pointer;
        }
      }
}
  .regular-items{
    margin-top: 15px;
    margin-bottom: 20px;
    padding-right: 10px;
        overflow-y: scroll;
      width: 100%;
      height: 450px;
      display: flex;
        .inputGroup{

    width: 100%;
margin-top: 10px;
    position: relative;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    .create{
      position: absolute;
      background-color: orange;
      border-radius: 15px;
      color: white;
      width: 100px;
      height: 100%;
      top: 0px;
      right: -5px;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      border: none;
    }
    .input{
    height: 34.8px;
    width: 100%;
    padding-left: 10px;
    font-size: 20px;
    border-radius: 15px;
    padding-right: 30px;
    }
  }
.regular-item{
  margin-top: 15px;
  padding: 15px 15px 15px  15px;
  background-color: white;
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
 .date{
  color: orange;
  width: 150px;
  height: 30px;
  font-size: 18px;
  border-radius: 10px;
cursor: pointer;
padding-left: 10px;
 }


}
          .toDo{
            width: 100%;
            position: relative;
align-items: center;
        display: flex;
        justify-content: space-between;
        background-color: rgb(182, 173, 173);
        margin-top: 15px;
        padding: 15px 0px;
        height: 50px;
        border-radius: 15px;
        .complete{
          width: 150px;
          height: 100%;
          border-radius: 15px;
          background-color: orange;
          font-size: 20px;
          cursor: pointer;
          border: none;
        }
                  .para{
            width: 80%;
            height: 100%;
            text-align: center;
            font-size: 30px;
          }
          .dropdown{
            width: 150px;
            height: 50px;
            border: none;
            position: relative;
            right: 10px;
            background-color: orange;
            font-size: 18px;
            border-radius: 15px;
            cursor: pointer;
          }
        .buttonGroup{
          position: absolute;
          right: -10px;
          top: 80px;
        margin-right: 10px;
          width: 120px;
          height: 120px;
          display: flex;
          background-color: white;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          z-index: 1000;
button{
  width: 100px;
  height: 50px;
  border: none;
  background-color: orange;
  font-size: 18px;
  border-radius: 15px;
}
        }

      
    }
}
  .new-items{
    margin-top: 15px;
    margin-bottom: 20px;
        overflow-y: scroll;
      width: 100%;
      height: 450px;
.new-item{
  margin-top: 15px;
  padding: 15px 15px 15px  15px;
  background-color: white;
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
 .date{
  color: orange;
  width: 150px;
  height: 30px;
  font-size: 18px;
  border-radius: 10px;
cursor: pointer;
padding-left: 10px;
 }
  .inputGroup{
    width: 100%;
margin-top: 10px;
    position: relative;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    .create{
      position: absolute;
      background-color: orange;
      border-radius: 15px;
      color: white;
      width: 100px;
      height: 100%;
      top: 0px;
      right: -5px;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      border: none;
    }
    .input{
    height: 34.8px;
    width: 100%;
    padding-left: 10px;
    font-size: 20px;
    border-radius: 15px;
    padding-right: 30px;
    }
  }

}
          .toDo{
            width: 100%;
            position: relative;
align-items: center;
        display: flex;
        justify-content: space-between;
        background-color: rgb(182, 173, 173);
        margin-top: 15px;
        padding: 15px 0px;
        height: 50px;
        border-radius: 15px;
        .complete{
          width: 150px;
          height: 100%;
          border-radius: 15px;
          background-color: orange;
          font-size: 20px;
          cursor: pointer;
          border: none;
        }
                  .para{
            width: 80%;
            height: 100%;
            text-align: center;
            font-size: 30px;
          }
          .dropdown{
            width: 150px;
            height: 50px;
            border: none;
            position: relative;
            right: 10px;
            background-color: orange;
            font-size: 18px;
            border-radius: 15px;
            cursor: pointer;
          }
        .buttonGroup{
          position: absolute;
          right: -10px;
          top: 80px;
        margin-right: 10px;
          width: 120px;
          height: 120px;
          display: flex;
          background-color: white;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          z-index: 1000;
button{
  width: 100px;
  height: 50px;
  border: none;
  background-color: orange;
  font-size: 18px;
  border-radius: 15px;
}
        }

      
    }
}
.priority-rating{
  width: 500px;
  height: 200px;
  top: 350px;
  position: fixed;
  display: block;
  background-color: burlywood;
  z-index: 1000;
  h1{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 100%;  
    height: 50px;
    &:hover{
      background-color: orange;
      color: white;
      cursor: pointer;

    }
  }
}
  }
.priority-panel{
box-sizing: border-box;
  
  top: 195px;
  position: fixed;
  display: block;
  background-color: burlywood;
  z-index: 1000;
  height: auto;
  

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
.priority-filter{
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: white;
  margin-top: 15px;
  select{
    text-align: center;
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    option{
      text-align: center;
      width: 100%;
    }
  }
}
.priority-panel-toDo-container{
  width: 100%;
  height: auto;
  min-height: 400px;
  max-height: 400px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
          .priority-panel-toDo{
            width: 100%;
align-items: center;
        display: flex;
        justify-content: space-between;
        background-color: rgb(182, 173, 173);
        margin-top: 15px;
        padding: 15px 0px;
        height: 50px;
        border-radius: 15px;
        .complete{
          width: 150px;
          height: 100%;
          border-radius: 15px;
          background-color: orange;
          font-size: 20px;
          cursor: pointer;
          border: none;
        }
                  .para{
            width: 80%;
            height: 100%;
            text-align: center;
            font-size: 30px;
          }
          .dropdown{
            width: 150px;
            height: 50px;
            border: none;
            position: relative;
            right: 10px;
            background-color: orange;
            font-size: 18px;
            border-radius: 15px;
            cursor: pointer;
          }
        .buttonGroup{
          position: absolute;
          right: -10px;
          top: 80px;
        margin-right: 10px;
          width: 120px;
          height: 120px;
          display: flex;
          background-color: white;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          z-index: 1000;
button{
  width: 100px;
  height: 50px;
  border: none;
  background-color: orange;
  font-size: 18px;
  border-radius: 15px;
}
        }

      
    }}

    .close-btn{
      display: flex;
      top: 0px;
      position: relative;
      border-radius: 15px;
      border: none;
      background-color: orange;
      color: white;
      cursor: pointer;
      font-size: 18px;
      &:hover{
        background-color: white;
        color: orange;
        cursor: pointer;
      }
    }
}
.priority-panel.show{
  width: 500px;
  z-index: 1000;
  padding: 0px 15px 15px 15px;
  transition: width 0.3s ease-in-out;
  .priority-filter{
    width: 100%;
    display: flex;
    transition: width 0.3s ease-in-out;
  }
  .close-btn{
    display: flex;
    transition: width 0.3s ease-in-out;
  }
}
.priority-panel.hide{
  width: 0px;
  z-index: 0;
  transition: width 0.3s ease-in-out;  
  .priority-filter{
    width: 100%;
    display: none;
    transition: width 0.3s ease-in-out;
  }
  .close-btn{
    width: 100%;
    display: none;
    transition: width 0.3s ease-in-out;
  }
}


.priority-rating,
.selection-priority-rating{
  width: 500px;
  height: 200px;
  top: 350px;
  position: fixed;
  display: block;
  background-color: burlywood;
  z-index: 1000;
  overflow-y: scroll;
  h1{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 100%;  
    height: 50px;
    &:hover{
      background-color: orange;
      color: white;
      cursor: pointer;

    }
  }
}
.save-btn{
  width: 100px;
height: 50px;
border-radius: 15px;
background-color: orange;
font-size: 18px;
cursor: pointer;
border: none;
}
  }
}  
.detail{
  width: 500px;
    height: 100%;
    padding: 0px 15px;
    background-color: greenyellow;
    text-align: center;
    .content{
      width: 100%;
      height: 100%;
      min-height: 500px;
      textarea{
        box-sizing: border-box;
        width: 100%;
        min-height: 400px;
        font-size: 20px;
        padding: 10px;
        border-radius: 15px;
        border: none;
      }
    }
  }
}

